/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
:root {
	--unnamed-color:#F16822;
	--font-color:var(--with)#FFFFFF;
    --gris-noir:#00000080;
    --gris-fonce:#707070;
    --gris-with:#00000029;
    --marron:#663014;

}
body{
    font-family: "Monserrat", "Regular";
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
}


/*style index*/
.container{
  width: 192rem;
}
 .main-header .container{
   background-color: var(--unnamed-color);
  display: flex;
  justify-content: space-between;
}

.para-header{
  font-size: 4.8rem;
}
.container.menu{
  display: flex;
  justify-content: space-between; 
}
.menu li{
  font-size: 2rem;
  text-decoration: none;
}
ul.menu{ 
  
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
}

/*section hero*/
.hero .container{
  background-image: url(../images/image/Photo\ arrière-plan.jpg);
  background-size: cover;
  
}
.hero h1{
  max-width: 90.4rem;
  margin-left: auto;
  margin-left: auto;
  font-size: 7.2rem;
  color: white;
  font-style: Raleway,bold;
}
 .renconte{  
   height: 9.8rem ;
   color: #FFFFFF;
   text-align: center;
   font-size: 4rem;
    width: 59rem;
  background-color: var(--unnamed-color);
}

.actualites-grid{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 3.2rem;
margin-left: 32.2rem;
margin-right: 32.2rem;

}
.actualites{
  max-width: 404rem;
  background-color:#FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029; 
}
.actu-para{
  font-size: 2rem;
  max-width: 34.7rem;
  
}
.Lire-la-suite{
  background-color: var(--unnamed-color);
  width: 40.4rem;
}

