/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
:root {
	  --unnamed-color:#F16822;
  	--font-color:var(--with)#FFFFFF;
    --gris-noir:#00000080;
    --gris-fonce:#707070;
    --gris-with:#00000029;
    --marron:#663014;
    --noir:#331100;

}
body{
    font-family: "Monserrat", "Regular";
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
}


/*style index*/
.container{
  width: 126.7rem;
  margin-left: auto;
  margin-right: auto;
}
 .main-header{
   background-color: var(--unnamed-color);
  
}
.main-header .container{
  display: flex;
  justify-content: space-between;
}

.para-header{
  font-size: 4.8rem;
}

.menu li{
  font-size: 2rem;
  text-decoration: none;
  padding: 1.9rem;
}
.menu-link:hover,
.menu-link:focus {
    color:var(--unnamed-color);
    background-color:white;
}
.menu-link{
  color: #FFFFFF;
}
  ul.menu{ 
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
}


/*section hero*/
.hero{
  background-image: url(../images/image/Photo\ arrière-plan.jpg);
  background-size: cover;
  
}
.hero-contenu{
  max-width: 95.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #00000080 0% 0% no-repeat padding-box;
  opacity: 1;
}
.hero h1{
  font-size: 7.2rem;
  width: 90.4rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-style: Raleway,bold;
}
 .renconte{  
   color: #FFFFFF;
   text-align: center;
   font-size: 4rem;
    width: 53rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--unnamed-color);
    border: none;
}
.renconte:hover{
  color: var(--unnamed-color);
  background-color:#FFFFFF ;
}
/*section actuamlites */
.actualites-grid{
  display:flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.date::before{
  content: url(/images/logos/Icone\ date.svg);
}
.date{
  padding: 0.8rem;
  margin-left: auto;
  margin-left: auto;
}

.actualites{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0rem 0rem 4.8rem #00000029;
border-radius: 0.4rem;
opacity: 1;
}
.actualites h4{
  font-size: 2.4rem;
  width: 37.4rem;
  margin-left: auto;
  margin-left: auto;
}
.actu-para{
  font-size: 2rem;
  max-width: 34.7rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2.4rem;
  color: var(--noir);
}
.Lire-la-suite{
  color: #FFFFFF;
  background-color: var(--unnamed-color);
  width: 40.4rem;
  font-size: 2.4rem;
  border-radius:  0rem 0.4rem 0.4rem;
  border: none;
}
.Lire-la-suite::after{
  content: url(../images/logos/Icon\ feather-arrow-right-circle.svg);
}
.Lire-la-suite a{
  color: #FFFFFF;
  text-decoration: none;
}
/*section etudiants*/
.les-etudiants{
  background-color: var(--unnamed-color);
  background-size: cover;
}
.etudiants{
  display:flex;
  justify-content: space-between;
  padding-bottom: 4.3rem;
}
 .les-etudiants h2{
   color: white;
  text-align: center;
  font-size: 4.8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.etudiant{
  color: #FFFFFF;
  text-align: center;
  font-size: 2.4rem;
}
.etudiant a{color:  #FFFFFF;
  font-size: 1.6rem;
}

/*section module*/
.modules{
  display:flex;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.details-modules{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0rem 4.8rem #00000029;
  border-radius: 0.4rem;
  opacity: 1;
  
}
h2{
  font-size: 4.8rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.para-modules{
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 59.2rem;
  font-size: 2rem;
  margin-right: auto;
  margin-left: auto;
  color: var(--noir);
}
.modules h4{
  font-size: 2.4rem;
  width: 59.2rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
}
.lire{
  background-color: var(--unnamed-color);
  color: #FFFFFF;
  width: 62.2rem;
  font-size: 2.4rem;
  border-radius:  0rem 0.4rem 0.4rem;
  border: none;
}
.lire ::after{
  content: url(/images/logos/Icon\ feather-arrow-right-circle.svg);
  align-content: center;
  padding: 1.5rem ;
}
/*footer*/
.contacts{
  background-color: var(--unnamed-color);
}
.contacts .container{
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.adresse{
  font-size:2rem;
}
.reseaux{ display: flex;
  align-items: center;
}

.confidentialites{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.contacts li{
  list-style: none;

}
.contacts a{
  color: #FFFFFF;
  text-decoration: none;
}
.legale li{
  margin-left: 2rem;
}
.twiter,.facebook{
  margin-right:6.8rem ;
}
/*page la formation style debut*/
.paragraphe-formation h2{
font-size:4.8rem;
padding-top: 4rem;
padding-bottom: 4rem;
}
.formation-para{
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.4rem;
  color: var(--noir);
}
.formation-modules{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:3.2rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  color:var(--noir);
}
.para-module{
  max-width: 59.2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  color:var(--noir);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.details-javascript{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0rem 4.8rem #00000029;
  border-radius: 0.4rem;
  opacity: 1;
}
.button-js{
  color: #FFFFFF;
  background-color: var(--unnamed-color);
  width: 62.2rem;
  font-size: 2.4rem;
  border-radius:  0rem 0.4rem 0.4rem;
  border: none;
}
.formation-modules h4{
  font-size: 2.4rem;
  margin-left: 1.4rem;
  padding-top: 4rem;
}
.button-html::after{
  content: url(../images/logos/Icon\ feather-arrow-right-circle.svg);
}
.button-js{
  color: #FFFFFF;
  background-color: var(--unnamed-color);
  width: 62.2rem;
  font-size: 2.4rem;
  border: none;
}
.button-js::after{
  content: url(../images/logos/Icon\ feather-arrow-right-circle.svg);
}
/*page etudiant*/
.partie-etudiants h2{
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 4.8rem;
}
.etudiants-gid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3.2 rem;
}
.meme-etudiant{
  width:29.5rem ;
  color: black;
  font-size: 2.4rem;
  text-align: center;
} 
.prenom-etudiant{
  width:29.5rem;
  font-size: 2.4rem;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.en-plus{
  font-size: 1.6rem;
  color: var(--unnamed-color);
}

/*page actualites*/
.grid-actu{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3.2rem;
  padding-bottom:4rem;
}
.actu-figure{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0rem 0rem 4.8rem #00000029;
border-radius: 0.4rem;
opacity: 1;
}

 .actu-figure h4{
  font-size: 2.4rem;
  width: 34.7rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.6rem;
}
.actu-paragraphe{
  font-size: 2rem;
  max-width: 34.7rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2.4rem;
  color: #331100;
}
.la-suite{
  color: #FFFFFF;
  background-color: var(--unnamed-color);
  width: 40.4rem;
  font-size: 2.4rem;
  border-radius:  0rem 0.4rem 0.4rem;
  border: none;
}
.la-suite::after{
  content: url(../images/logos/Icon\ feather-arrow-right-circle.svg);

}
.la-suite a{
  color:#FFFFFF;
  text-decoration: none;
}
/*page politique confidentialite*/
.politique-confi h1{
  font-size: 4.8rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.para-politique{
  width:84rem ;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  color:var(--noir);
  padding-bottom: 4.1rem;
}
/*page detail etudiant*/
.prenom-francine{
  font-size:4.8rem ;
  text-align: center;
}
.francine img{
  width: 40.4rem;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.francine{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.loisir{
  display: flex;
  justify-content: space-between;
}
.seconde-partie{
  display: flex;
  justify-content: space-between;
}
.titre{
  font-family: 'Raleway, semibold';
  color: var(--noir);
  font-size: 2.4rem;
  list-style: none;
}
.para-loisir{
  font-family: 'Montserrat ,Regular';
  font-size: 2rem;
  list-style: none;
  color: #331100;
}

